
    *{
        margin:0px;
        padding:0px;
    }
    .clr{
        clear:both;
    }
    .block {
       width:100%;
       height: 100px; 
       line-height:100px;
       text-align:center;
       
    }
    .menu a{
        text-decoration: none;
        color: #000;
    }
    .block1{
        width:100%;
        height: 650px;
        line-height: 20px;
     
       
    }
    #tranform_scale{
        width: 100px;
        height:100px;
        transition: 1s
    }
    #tranform_scale:hover{
        transform:scale(1.2,1.5);
    }
    #tranform_scale{
        width: 150px;
        height:100px;
        transition: 1s
    }
    #tranform_scale:hover{
        transform:scale(1.2,1.5);
    }
    #tranform_scale{
        width: 150px;
        height:100px;
        transition: 1s
    }
    #tranform_scale:hover{
        transform:scale(1.2,1.5);
    }
   
    .doan1 {
        width: 100%;
        height: 100px;
        font-size: 20px;
		line-height:20px;
        position: relative;
        top: -250px;
        right: 30px;
        bottom: 40px;
        left: 690px;
    }
    .doan2{
        width: 100%;
        height: 100px;
        font-size: 20px;
		line-height:20px;
        position: relative;
        top: -170px;
        right: 30px;
        bottom: 40px;
        left: 700px;
    }

    .doan3{

        width: 100%;
        height: 100px;
        font-size: 20px;
		line-height:20px;
        position: relative;
        top: -450px;
        right: 30px;
        bottom: 40px;
        left: 890px;
    }
	 .doan4 {
        width: 100%;
        height: 100px;
        font-size: 20px;
		line-height:20px;
        position: relative;
        top: -250px;
        right: 30px;
        bottom: 40px;
        left: 690px;
    }
    .doan5{
        width: 100%;
        height: 100px;
        font-size: 20px;
		line-height:20px;
        position: relative;
        top: -170px;
        right: 30px;
        bottom: 40px;
        left: 700px;
    }

    .doan6{

        width: 100%;
        height: 100px;
        font-size: 20px;
		line-height:20px;
        position: relative;
        top: -450px;
        right: 30px;
        bottom: 40px;
        left: 890px;
    }
  
   .doan7 {
        width: 100%;
        height: 100px;
        font-size: 20px;
		line-height:20px;
        position: relative;
        top: -170px;
        right: 30px;
        bottom: 40px;
        left: 700px;
        }
    .doan8{
        width: 100%;
        height: 100px;
        font-size: 20px;
		line-height:20px;
        position: relative;
        top: -90px;
        right: 30px;
        bottom: 40px;
        left: 700px;
    }

    .doan9{

        width: 100%;
        height: 100px;
        font-size: 20px;
		line-height:20px;
        position: relative;
        top: -370px;
        right: 30px;
        bottom: 40px;
        left: 890px;
    }
  
    .box{
		top: 20px;
		left:150PX;
		position:absolute;
	  }

    .boxA{
       background-color: #fef9d0;
        
    }
    .boxB{
       background-image:url(../IMG/Untitled-2.jpg);

    }
    .boxC{
       background-image:url(../IMG/Untitled-2.jpg);
    }
    .boxD{
        background-image:url(../IMG/Untitled-2.jpg)
     }
     .boxE{
        background-image:url(../IMG/Untitled-2.jpg)
     }
 
    .menu {
        list-style:none;
        margin : -2px;
        display:inline-block;
        *display : inline;
        
    }
    .block1  div1{
        margin-top: 30px;
    }
    .menu li{
        margin-bottom:2px;
        padding: 3px 3px 3px 15px;
        float:left;
        width:150px;
        text-align:right;
        margin-right:15px;
        font-weight: bold;    
    }
	
	
	 .block2{
        width:100%;
        height: 750px;
        line-height: 20px;
     
       
    }
    .tieude1{
        width: 100%;
        height: 100px;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        position: relative;
        top: 70px;
        right: 30px;
        bottom: 40px;
        left: 200px;
    }

    .image1{
        width: 100%;
        height: 100px;
        position: relative;
        top: 50px;
        right: 30px;
        bottom: 40px;
        left: 200px;
    }
    .image2{
        width: 100%;
        height: 100px;
        position: relative;
        top: 140px;
        right: 30px;
        bottom: 40px;
        left: 450px;
    }
    .image3{
        width: 100%;
        height: 100px;
        position: relative;
        top: 210px;
        right: 30px;
        bottom: 40px;
        left: 530px;
    }
	.par1{
		 width: 100%;
        height: 100px;
        position: relative;
		font-size:24px;
        top: -280px;
        right: 30px;
        bottom: 40px;
        left: 700px;
		
		
	}
	.par2{
		 width: 100%;
        height: 100px;
        position: relative;
		font-size:24px;
        top: -280px;
        right: 30px;
        bottom: 40px;
        left: 700px;
		
		
	}

	
	
	 .block3{
        width:100%;
        height: 750px;
        line-height: 20px;
     
       
    }
	.tieude2{
        width: 100%;
        height: 100px;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        position: relative;
        top: 70px;
        right: 30px;
        bottom: 40px;
        left: 200px;
    }
    .image4{
        width: 100%;
        height: 100px;
        position: relative;
        top: 50px;
        right: 30px;
        bottom: 40px;
        left: 180px;
    }
    .image5{
        width: 100%;
        height: 100px;
        position: relative;
        top: 100px;
        right: 30px;
        bottom: 40px;
        left: 470px;
    }
    .image6{
        width: 100%;
        height: 100px;
        position: relative;
        top: 175px;
        right: 30px;
        bottom: 40px;
        left: 340px;
    }
	
	 .block4{
        width:100%;
        height: 750px;
        line-height: 20px;
       
    }
    .tieude3{
        width: 100%;
        height: 100px;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        position: relative;
        top: 70px;
        right: 30px;
        bottom: 40px;
        left: 200px;
    }
    .chitiet3{
        width: 100%;
        height: 100px;
        font-size: 15px;
        line-height: 30px;
        position: relative;
        top: 30px;
        right: 30px;
        bottom: 40px;
        left: 200px;
    }
    .image7{
        width: 100%;
        height: 100px;
        position: relative;
        top: 50px;
        right: 30px;
        bottom: 40px;
        left: 190px;
    }
    .image8{
        width: 100%;
        height: 100px;
        position: relative;
        top: 150px;
        right: 30px;
        bottom: 40px;
        left: 490px;
    }




	.block11{
        width: 100%;
        height: 500px;
         background-color:  #fef9d0;
		
    }
	 .footer1{
        width: 100%;
        height: 100px;
		color:#000;
		font-weight:bold;
        font-size: 30px;
        line-height: 30px;
        position: relative;
        top: 90px;
		left: 50px;
        
    }
	 .footer2{
        width: 100%;
        height: 100px;
		color:#000;
        font-size: 20px;
        line-height: 30px;
		font-weight:bold;
        position: relative;
        top: -7px;
		left: 520px;
        
    }
	
	.footer3{
        width: 100%;
        height: 100px;
		color:#000;
        font-size: 20px;
        line-height: 30px;
		font-weight:bold;
        position: relative;
        top: -107px;
		left: 750px;
        
    }

    .footer4{
        width: 100%;
        height: 100px;
		color:#000;
        font-size: 20px;
		font-weight:bold;
        line-height: 30px;
        position: relative;
        top: -207px;
		left: 1000px;
        
    }
	 .footer5{
        width: 100%;
        height: 100px;
		color:#000;
        font-size: 22px;
        line-height: 30px;
        position: relative;
        top: -150px;
		left: 50px;
        
    }
	.footer6{
        width: 100%;
        height: 100px;
		color:#000;
        font-size: 22px;
        line-height: 30px;
        position: relative;
        top: -370px;
		left: 520px;
        
    }
    .footer6 a{
        text-decoration: none;
        color: #000;
    }
    .footer7{
        width: 100%;
        height: 100px;
		color:#000;
        font-size: 22px;
        line-height: 30px;
        position: relative;
        top: -470px;
		left: 750px;
        
    }
    .footer7 a{
        text-decoration: none;
        color: #000;
    }
    
    .footer8{
        width: 100%;
        height: 100px;
		color:#000;
        font-size: 22px;
        line-height: 30px;
        position: relative;
        top: -570px;
		left: 1000px;
        
    }





